.image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.captionContainer {
  padding: 8px 12px;
  border-radius: 3px;
  background: white;
}

.caption {
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
}

@media only screen and (min-device-width: 768px) {
  .image {
    height: 20rem;
  }
}