.App {
  background-color: #eeeeee;
  min-height: 100vh;
}

.wrapper {
  max-width: 768px;
}

@media only screen and (min-device-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}